* {
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, 0.12) transparent;
  scrollbar-width: thin;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.drag {
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}

.frame-iframe {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

div:focus {
  outline: none;
}

.icon-hover:hover {
  color: var(--color-icon-hover) !important;
}

.hidden {
  display: none !important;
}

.ai-avatar {
  border-radius: 10px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  box-shadow: 0px 0px 0px 1px #1f232826;
}

.forward-action {
  height: 400px;
  max-height: 400px;
  overflow: auto;
}

.forward-action .forward-hover {
  background: #e3e7ed;
}

.forward-action img {
  height: 60%;
  border-radius: 5px;
  margin-right: 10px;
}

.forward-action>div {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.forward-action :hover {
  background: #e3e7ed;
}