@use 'fonts';

:root {
  --font-family: 'AliFangYuan';
}

* {
  font-family: var(--font-family), sans-serif !important;
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, 0.12) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #080808;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

p {
  margin: 0;
}

.frame-iframe {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

div:focus {
  outline: none;
}

.icon-hover {
  &:hover {
    color: var(--color-icon-hover) !important;
  }
}

.hidden {
  display: none !important;
}

.ai-prompt-title {
  white-space: nowrap;
  background: #fffbe6;
  border: 0.64px solid rgb(255 209 60);
  color: #faad14;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 4px;
  display: inline-block;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.forward-ation {
  height: 400px;
  max-height: 400px;
  overflow: auto;

  .forward-hover {
    background: hsl(220, 20%, 91%);
  }

  img {
    height: 60%;
    border-radius: 5px;
    margin-right: 10px;
  }

  &>div {
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
  }

  :hover {
    background: hsl(220, 20%, 91%);
  }
}

.ai-avatar {
  border-radius: 10px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  box-shadow: 0px 0px 0px 1px #1f232826;
}