# Dependency directories
node_modules

# local env files
.env.local 
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# output
/server
/dist
/report.html

# purechat
*/purechat-ui
stats.html
