registry=https://registry.npmmirror.com/
shamefully-hoist=true
ignore-workspace-root-check=true
link-workspace-packages=true

# Electron
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# https://pnpm.io/zh/npmrc#side-effects-cache
side-effects-cache=false
phantomjs_cdnurl=https://bitbucket.org/ariya/phantomjs/downloads
