# npm源 https://registry.npmjs.org
# 淘宝镜像 https://registry.npmmirror.com
registry=https://registry.npmmirror.com
shamefully-hoist=true
ignore-workspace-root-check=true
link-workspace-packages=true

# Electron
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
