registry=https://registry.npmmirror.com/
# https://pnpm.io/zh/cli/install#--shamefully-hoist
shamefully-hoist=true
# https://pnpm.io/zh/cli/add#--ignore-workspace-root-check
ignore-workspace-root-check=true
# https://pnpm.io/zh/cli/recursive#--link-workspace-packages
link-workspace-packages=true
# 忽略 Node 版本检查，避免因版本问题导致安装失败
# engine-strict=false