{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 300,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine":"auto"
}