{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "endOfLine":"auto"
}