/* 暗黑模式适配 */
html.dark {
  /* 自定义深色背景颜色 */
  $border-style: #414243;
  $color-white: #fff;
  $backg-color: #222222;

  // --el-color-white: $backg-color;
  // --el-card-border-color: $border-style;
  --el-menu-hover-bg-color: #4091f7;
  .el-menu-item {
    color: $color-white;
    background-color: $backg-color;
  }
  .el-sub-menu {
    background-color: $backg-color;
    span {
      color: $color-white;
    }
  }
}
