// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//   $colors: (
//     "primary": (
//       "base": #409eff,
//     ),
//   )
// );

// @import "element-plus/theme-chalk/src/index.scss";
.el-message-box__status{
  position: absolute !important;
}
