// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//   $colors: (
//     "primary": (
//       "base": #409eff,
//     ),
//   )
// );
@import "element-plus/theme-chalk/src/index.scss";

.el-drawer__header {
  margin: 0 !important;
}

.el-message-box__status {
  position: absolute !important;
}

.popover-style {
  width: 320px !important;
  padding: 0 !important;
  border: none !important;
}

.drawer-group {
  background-color: rgba(255, 255, 255, 0) !important;

  .el-drawer {
    border-radius: 5px 0 0 5px;
  }
}