.el-drawer__header {
  margin: 0 !important;
}

.el-overlay-dialog {
  // backdrop-filter: blur(2px);
}

.el-drawer {
  -webkit-app-region: no-drag;
}

.el-message {
  --el-message-padding: 8px 15px;
}

.popover-style {
  width: 320px !important;
  padding: 0 !important;
  border: none !important;
}

.drawer-group {
  background-color: rgba(255, 255, 255, 0) !important;

  .el-drawer {
    border-radius: 5px 0 0 5px;
  }
}