* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}

html {
  overflow: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

// 通用ul li
ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.select-none {
  -webkit-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-hover {
  &:hover {
    color: var(--color-icon-hover) !important;
  }
}

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

/* 头部用户信息样式重置 */
.hidden {
  display: none !important;
}
