/* Global transition */
// See https://vuejs.org/v2/guide/transitions.html for detail

// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// fade-transform
.fade-transform-enter-active {
  transition: all 0.3s;
}

.fade-transform-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-transform-enter-from,
.fade-transform-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

// breadcrumb
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}
.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.breadcrumb-move {
  transition: all 0.5s;
}
.breadcrumb-leave-active {
  position: absolute;
}

// 浅入浅出
.shallow-in-out-enter-active,
.shallow-in-out-leave-active {
  transition: opacity 0.3s;
}
.shallow-in-out-enter,
.shallow-in-out-leave-to {
  opacity: 0;
}

// 左浅入右浅出
.left-in-right-out-enter-active,
.left-in-right-out-leave-active {
  transition: all 0.4s;
}
.left-in-right-out-enter-active {
  opacity: 0;
  transform: translateX(-20px);
}
.left-in-right-out-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.left-in-right-out-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

// 右浅入浅出
.right-in-out-move,
.right-in-out-enter-active,
.right-in-out-leave-active {
  transition: all 0.4s;
}
.right-in-out-enter-active {
  transition-delay: 0.4s;
  opacity: 0;
  transform: translateX(50px);
}
.right-in-out-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.right-in-out-leave-to {
  opacity: 0;
  transform: translateX(50px);
}
